* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: white; 
    font-family: Verdana, sans-serif; 
    font-size: 100%;
}

header{
    padding: 50px 50px;
    background-color:grey;
    color: black; 
    text-align: center;
}

span.orange {
    color:#cc3300;
}

h1 {
    font-size: 200%; 
}

h2 {
    font-size: 150%;  
    text-transform: uppercase;
}

nav {
    background-color: #ccccb3;
}

ol {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    background-color: black; 
}

ol li a{
    color:#ff531a;
    text-transform: uppercase;
}

.divParent{
    display: flex;
    justify-content: space-between;
}

.container1 {
    padding-top: 20px;
    width:70%;
    background-color:#b8b8b8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr 0.4fr 1.6fr 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
      "Formations"
      "for"
      "Experiences"
      "exp"
      "Informatique"
      "inf";
  }
  
.Formations { grid-area: Formations; display: flex; 
    justify-content: center; 
    align-items: center;}
  
.Experiences { grid-area: Experiences; display: flex; 
    justify-content: center; 
    align-items: center;}
  
.Informatique { grid-area: Informatique; display: flex; 
    justify-content: center; 
    align-items: center;}
  
.for {
    display: grid;
    border:  solid rgb(66, 66, 66) 5px;
    padding: 50px;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "dte1 def1";
    grid-area: for;
  }
  
.dte1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "date1"
      "date2"
      "date3"
      "date4"
      "date5"
      "date6"
      "date7"
      "date8";
    grid-area: dte1;
  }
  
.date1 { grid-area: date1; background-color: grey; color: #b8b8b8;          display: flex; 
    justify-content: center; 
    align-items: center;}
  
.date2 { grid-area: date2; display: flex; 
    justify-content: center; 
    align-items: center;}
  
.date3 { grid-area: date3; background-color: grey; color: #b8b8b8;          display: flex; 
    justify-content: center; 
    align-items: center;}
  
.date4 { grid-area: date4; display: flex; 
    justify-content: center; 
    align-items: center; }
  
.date5 { grid-area: date5; background-color: grey; color: #b8b8b8;          display: flex; 
    justify-content: center; 
    align-items: center;}
  
.date6 { grid-area: date6; display: flex; 
    justify-content: center; 
    align-items: center;}
  
.date7 { grid-area: date7; background-color: grey; color: #b8b8b8;          display: flex; 
    justify-content: center; 
    align-items: center;}
  
.date8 { grid-area: date8; display: flex; 
    justify-content: center; 
    align-items: center;}
  
.def1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "def01"
      "def02"
      "def03"
      "def04"
      "def05"
      "def06"
      "def07"
      "def08";
    grid-area: def1;
  }
  
.def01 { grid-area: def01; background-color: grey; color: #b8b8b8;}

.def02 { grid-area: def02; }

.def03 { grid-area: def03; background-color: grey; color: #b8b8b8;}

.def04 { grid-area: def04; }

.def05 { grid-area: def05; background-color: grey; color: #b8b8b8;}

.def06 { grid-area: def06; }

.def07 { grid-area: def07; background-color: grey; color: #b8b8b8;}

.def08 { grid-area: def08; }

.exp {
    display: grid;
    padding: 50px;
    border:  solid rgb(66, 66, 66) 5px;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "dt2 def2";
    grid-area: exp;
  }
  
  .dt2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "date2_1"
      "date2_2"
      "date2_3"
      "date2_4"
      "date2_5";
    grid-area: dt2;
  }
  
  .date2_1 { grid-area: date2_1;           display: flex; 
    justify-content: center; 
    align-items: center;}
  
  .date2_2 { grid-area: date2_2;background-color: grey; color: #b8b8b8;          display: flex; 
    justify-content: center; 
    align-items: center; }
  
  .date2_3 { grid-area: date2_3;           display: flex; 
    justify-content: center; 
    align-items: center;}
  
  .date2_4 { grid-area: date2_4;background-color: grey; color: #b8b8b8;           display: flex; 
    justify-content: center; 
    align-items: center;}
  
  .date2_5 { grid-area: date2_5;           display: flex; 
    justify-content: center; 
    align-items: center;}
  
  .def2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "def2_1"
      "def2_2"
      "def2_3"
      "def2_4"
      "def2_5";
    grid-area: def2;
  }
  
  .def2_1 { grid-area: def2_1; }
  
  .def2_2 { grid-area: def2_2; background-color: grey; color: #b8b8b8;}
  
  .def2_3 { grid-area: def2_3; }
  
  .def2_4 { grid-area: def2_4; background-color: grey; color: #b8b8b8;}
  
  .def2_5 { grid-area: def2_5; }
  
  .inf {
    display: grid;
    padding: 50px;
    border:  solid rgb(66, 66, 66) 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "inf1"
      "inf2"
      "inf3"
      "inf4";
    grid-area: inf;
    
  }
  
  .inf1 { grid-area: inf1; 
          background-color: grey; 
          color: #b8b8b8;
          display: flex; 
          justify-content: center; 
          align-items: center;}
  
  .inf2 { grid-area: inf2;           display: flex; 
    justify-content: center; 
    align-items: center;}
  
  .inf3 { grid-area: inf3; background-color: grey; color: #b8b8b8;          display: flex; 
    justify-content: center; 
    align-items: center;}
  
  .inf4 { grid-area: inf4;
    display: flex; 
    justify-content: center; 
    align-items: center; }
  


.container2{
    padding-top: 50px;
    width: 30%;
    background-color: #4d4d4d;
}
.titreH2{
    display: flex;
    justify-content: center;
}

.buttonParents{
    display: flex;
    flex-direction: column;
    padding-top: 50px; 
}

.styleButton{
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 115, 0);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(149, 149, 149, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, .6); 
    display: flex;
}

.image{
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.styleButton:hover {
    background-color:rgb(255, 115, 0) ;
}

.styleButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

form{
width: auto;
padding: 5px;
}

.flexFormulaire{
  display: block;
  
  
}

