* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: white; 
    font-family: Verdana, sans-serif; 
    font-size: 100%;
}

header{
    padding: 50px 50px;
    background-color:grey;
    color: black; 
    text-align: center;
}

span.orange {
    color:#cc3300;
}

h1 {
    font-size: 200%; 
}

h2 {
    font-size: 150%;  
    text-transform: uppercase;
}

nav {
    background-color: #ccccb3;
}

ol {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    background-color: black; 
}

ol li a{
    color:#ff531a;
    text-transform: uppercase;
}

.divParent{
    display: flex;
    justify-content: space-between;
}

.container1{
    padding-top: 50px;
    width:70%;
    background-color:#b8b8b8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "sousContainer1"
      "sousContainer2"
      "sousContainer3";
}


.sousContainer1{
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "date def";
    grid-area: sousContainer1;
}
.date {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "date01"
      "date02"
      "date03"
      "date04"
      "date05"
      "date06"
      "date07"
      "date08";
    grid-area: date;
  }
.date01 { grid-area: date01; }
.date02 { grid-area: date02; background-color: #4d4d4d; color:#b8b8b8;}
.date03 { grid-area: date03; }
.date04 { grid-area: date04; background-color: #4d4d4d;color:#b8b8b8;}
.date05 { grid-area: date05; padding-left: 20px; color: #4d4d4d;}
.date06 { grid-area: date06; background-color: #4d4d4d;color:#b8b8b8;}
.date07 { grid-area: date07; padding-left: 20px; color: #4d4d4d;}
.date08 { grid-area: date08; background-color: #4d4d4d;color:#b8b8b8;}

.sousContainer2{
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "date2 def_2";
    grid-area: sousContainer2;
}

.date2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "date2_1"
      "date2_2"
      "date2_3"
      "date2_4"
      "date2_5"
      "date2_6";
    grid-area: date2;
}
.date2_1 { grid-area: date2_1; }
.date2_2 { grid-area: date2_2; background-color: #4d4d4d;color:#b8b8b8; }
.date2_3 { grid-area: date2_3; }
.date2_4 { grid-area: date2_4; background-color: #4d4d4d;color:#b8b8b8;}
.date2_5 { grid-area: date2_5; }
.date2_6 { grid-area: date2_6; background-color: #4d4d4d;color:#b8b8b8;}

.def {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "def1"
    "def2"
    "def3"
    "def4"
    "def5"
    "def6"
    "def7"
    "def8";
  grid-area: def;
  }

  .def1 { grid-area: def1; }
  .def2 { grid-area: def2; background-color: #4d4d4d;color:#b8b8b8;}
  .def3 { grid-area: def3; }
  .def4 { grid-area: def4; background-color: #4d4d4d;color:#b8b8b8;}
  .def5 { grid-area: def5; }
  .def6 { grid-area: def6; background-color: #4d4d4d;color:#b8b8b8;}
  .def7 { grid-area: def7; }
  .def8 { grid-area: def8; background-color: #4d4d4d;color:#b8b8b8;}
  
  .def_2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "def2_1"
      "def2_2"
      "def2_3"
      "def2_4"
      "def2_5"
      "def2_6";
    grid-area: def_2;
  }
  
  .def2_1 { grid-area: def2_1; }
  .def2_2 { grid-area: def2_2; background-color: #4d4d4d;color:#b8b8b8;}
  .def2_3 { grid-area: def2_3; }
  .def2_4 { grid-area: def2_4; background-color: #4d4d4d;color:#b8b8b8;}
  .def2_5 { grid-area: def2_5; }
  .def2_6 { grid-area: def2_6; background-color: #4d4d4d;color:#b8b8b8;}
  
.container2{
    padding-top: 50px;
    width: 30%;
    background-color: #4d4d4d;
}
.titreH2{
    display: flex;
    justify-content: center;
}

.buttonParents{
    display: flex;
    flex-direction: column;
    padding-top: 50px; 
}

.styleButton{
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 115, 0);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(149, 149, 149, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, .6); 
    display: flex;
}

.image{
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.styleButton:hover {
    background-color:rgb(255, 115, 0) ;
}

.styleButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
